@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h2>Welcome to your new app.</h2>
<RadzenButton Text=@text />
@code {
    string text = "Hello World!";
}

<SurveyPrompt Title="How is Blazor working for you?" />
